<div class="plain-bg" style="width: 640px; height: 480px;">
  <h4 class="text-center title-glow" style="width: 320px">
    {{ empire.design.name.key }}
  </h4>
  <img src="/assets/planets/{{ empire.design.planet_class }}.png" width="180" height="180">
  <img src="/assets/authorities/{{ empire.design.authority }}.png" width="44" height="44">
  <img src="/assets/origins/{{ empire.design.origin }}.png" width="40" height="40">
  <img *ngFor="let civic of empire.design.civics" src="/assets/civics/{{ civic }}.png" width="29" height="29">
  <img *ngFor="let ethic of [empire.design.ethic].flat()" src="/assets/ethics/{{ ethic }}.png" width="29" height="29">
  <img *ngFor="let trait of [empire.design.species.trait].flat()" src="/assets/traits/{{ trait }}.png" width="29" height="29">
  <pre>
    Government: {{ empire.design.government }}
    Authority: {{ empire.design.authority }}
    Civics: {{ empire.design.civics }}
    Ethics: {{ empire.design.ethic }}
  </pre>
  <pre>
    Species Name: {{ empire.design.species.species_name.key }}
    Species Type: {{ empire.design.species.class }}
    Traits: {{ empire.design.species.trait }}
  </pre>
  <a class="btn" routerLink="edit">
    Edit
  </a>
</div>
