<div class="row">
  <div class="col-2 text-center d-flex flex-column bg-dark text-light">
    <h5 class="mt-4">Species</h5>
    <a routerLink="appearance" class="btn disabled" routerLinkActive="active">Appearance</a>
    <a routerLink="speciesname" class="btn" routerLinkActive="active">Species Name</a>
    <a routerLink="namelists" class="btn disabled" routerLinkActive="active">Name Lists</a>
    <a routerLink="traits" class="btn" routerLinkActive="active">Traits</a>
    <h5 class="mt-4">Homeworld</h5>
    <a routerLink="homeworld" class="btn" routerLinkActive="active">Name & Class</a>
    <a routerLink="city" class="btn disabled" routerLinkActive="active">City Appearance</a>
    <h5 class="mt-4">Empire</h5>
    <a routerLink="origin" class="btn" routerLinkActive="active">Origin</a>
    <a routerLink="government" class="btn" routerLinkActive="active">Government & Ethics</a>
    <a routerLink="advisor" class="btn disabled" routerLinkActive="active">Advisor Voice</a>
    <a routerLink="empirename" class="btn" routerLinkActive="active">Empire Name</a>
    <a routerLink="flag" class="btn disabled" routerLinkActive="active">Flag</a>
    <a routerLink="ships" class="btn disabled" routerLinkActive="active">Ship Appearance</a>
    <a routerLink="ruler" class="btn" routerLinkActive="active">Ruler</a>

    <button class="btn mt-auto">Save</button>
    <button class="btn" disabled>Back</button>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
