<div class="row">
  <div class="col-2 text-center d-flex flex-column bg-dark text-light">
    <h5 class="mt-4">Species</h5>
    <button>Appearance</button>
    <button>Species Name</button>
    <button>Name Lists</button>
    <button>Traits</button>
    <h5 class="mt-4">Homeworld</h5>
    <button>Name & Class</button>
    <button>City Appearance</button>
    <h5 class="mt-4">Empire</h5>
    <button>Origin</button>
    <button>Government & Ethics</button>
    <button>Advisor Voice</button>
    <button>Empire Name</button>
    <button>Flag</button>
    <button>Ship Appearance</button>
    <button>Ruler</button>
  </div>
</div>
