<div class="row h-100">
  <div class="col-2 text-center d-flex flex-column plain-bg">
    <h5 class="mt-4">Species</h5>
    <a class="btn disabled" smTooltip="Not supported yet. Please configure ingame.">
      Appearance
    </a>
    <a routerLink="speciesname" class="btn" routerLinkActive="active">
      Species Name
    </a>
    <a class="btn disabled" smTooltip="Not supported yet. Please configure ingame.">
      Name Lists
    </a>
    <a routerLink="traits" class="btn" routerLinkActive="active">Traits</a>
    <h5 class="mt-4">Homeworld</h5>
    <a class="btn disabled" smTooltip="Not supported yet. Please configure ingame.">
      Name & Class
    </a>
    <a class="btn disabled" smTooltip="Not supported yet. Please configure ingame.">
      City Appearance
    </a>
    <h5 class="mt-4">Empire</h5>
    <a routerLink="origin" class="btn" routerLinkActive="active">
      Origin
    </a>
    <a routerLink="government" class="btn" routerLinkActive="active">
      Government & Ethics
    </a>
    <a class="btn disabled" smTooltip="Not supported yet. Please configure ingame.">
      Advisor Voice
    </a>
    <a routerLink="empirename" class="btn" routerLinkActive="active">
      Empire Name
    </a>
    <a class="btn disabled" smTooltip="Not supported yet. Please configure ingame.">
      Flag
    </a>
    <a class="btn disabled" smTooltip="Not supported yet. Please configure ingame.">
      Ship Appearance
    </a>
    <a routerLink="ruler" class="btn" routerLinkActive="active">
      Ruler
    </a>

    <button class="btn mt-auto">Save</button>
    <button class="btn" disabled>Back</button>
  </div>
  <div class="col d-flex align-items-center justify-content-center">
    <div class="plain-bg" style="width: 640px; height: 480px;">
      <h4 class="position-absolute text-center title-glow" style="top: 0; left: 40px; width: 320px">
        Test
      </h4>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
