/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: SansSerifFLF;
  src: url("/assets/fonts/SansSerifFLF.otf");
  font-weight: bold;
}

$font-family-sans-serif: SansSerifFLF, sans-serif;
@import "bootstrap/scss/bootstrap";

.font-orbitron {
  font-family: Orbitron, sans-serif;
}

button, a.button {
  color: white;
  border-width: 24px;
  border-image-slice: 23 23 23 23 fill;
  border-image-source: url('assets/styles/button.png');
  background: none;
  margin: -10px;
}

button:hover, a.button.active {
  border-image-source: url('assets/styles/button_hover.png');
}

a.button.selected {
  border-image-source: url('assets/styles/button_select.png');
}
