/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: SansSerifFLF;
  src: url("/assets/fonts/SansSerifFLF.otf");
  font-weight: bold;
}

$font-family-sans-serif: SansSerifFLF, sans-serif;
@import "bootstrap/scss/bootstrap";

.font-orbitron {
  font-family: Orbitron, sans-serif;
}

.btn {
  color: white;
  border-width: 24px;
  border-image-slice: 23 23 23 23 fill;
  border-image-source: url('assets/styles/button.png');
  background: none;
  margin: -10px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover, .btn.active {
  border-image-source: url('assets/styles/button_hover.png');
}

.btn.selected {
  border-image-source: url('assets/styles/button_select.png');
}

.btn:disabled, .btn.disabled {
  filter: grayscale(100%);
  border-image-source: url('assets/styles/button.png');
}
