/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Orbitron;
  src: url("/assets/fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: CenturyGothic;
  src: url("/assets/fonts/CenturyGothic.ttf");
  font-weight: bold;
}

$font-family-sans-serif: CenturyGothic, sans-serif;
@import "bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("assets/styles/background.png");
  background-position: center;
  background-size: cover;
}

.font-orbitron {
  font-family: Orbitron, sans-serif;
}

.btn {
  color: white;
  border-width: 24px;
  border-image-slice: 23 23 23 23 fill;
  border-image-source: url('assets/styles/button.png');
  background: none !important;
  margin: -12px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover, .btn:active, .btn.active {
  border-image-source: url('assets/styles/button_hover.png');
}

.btn.selected {
  border-image-source: url('assets/styles/button_select.png');
}

.btn:disabled, .btn.disabled {
  filter: grayscale(100%);
  border-image-source: url('assets/styles/button.png');
}

[smTooltip] {
  pointer-events: all !important;
}

.tooltip-container {
  color: white;
  max-width: 300px;
  position: fixed;
  border: 8px solid;
  padding: 0 16px;
  border-image-slice: 8 fill;
  border-image-source: url('assets/styles/tooltip.png');
}

.plain-bg {
  position: relative;
  color: white;
}

.plain-bg::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 60px solid;
  border-image-slice: 60 fill;
  border-image-source: url('assets/styles/plain_bg_tile.png');
}

.title-glow {
  font-family: Orbitron, sans-serif;
  font-weight: lighter;
  text-align: center;
  padding: 10px 0 20px 0;
  background-image: url('assets/styles/title_glow_big.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-button {
  display: flex;
  width: 280px;
  height: 85px;
  align-items: center;
  justify-content: center;
  color: white !important;
  text-decoration: none;
}

.select-button h6 {
  margin-bottom: 0;
}

.user-created {
  border: 4px solid;
  border-image-slice: 4 fill;
  border-image-source: url('/assets/styles/user_created.png');
}
