.random {
  background-image: url('/assets/styles/select_random.png');
}

.new {
  background-image: url('/assets/styles/select_create_new.png');
}

.observe {
  background-image: url('/assets/styles/select_observe.png');
}
