<a [routerLink]="empire._id || undefined" class="select-button user-created" routerLinkActive="selected">
  <div>
    <h6 style="color: orange">{{ empire.design.name.key }}</h6>
    <h6>{{ empire.design.government | translate }}</h6>
    <h6 style="color: aquamarine">{{ empire.design.species.class | translate }}</h6>
    <ngb-rating [style.color]="userRating ? '#f7fc34' : '#c3b091'" [max]="5" [rate]="userRating || empire.rating || 0"
                [smTooltip]="empire.ratings + ' Ratings, averaging ' + (empire.rating | number:'0.1')"
                (rateChange)="rate($event)"></ngb-rating>
    <span *ngFor="let tag of empire.tags || []" class="badge bg-secondary">
      {{ tag }}
    </span>
  </div>
</a>
