<div class="plain-bg p-3 d-flex flex-column" style="width: 640px; height: 90vh">
  <h4>Gallery</h4>
  <div class="d-flex">
    <input type="search" class="form-control dark-area-cut" placeholder="Search" [(ngModel)]="filter.text" (change)="updateTextQuery()">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="gameVersionDropdown" ngbDropdownToggle>
        Game Version
        <span class="text-muted" *ngIf="filter.gameVersion"> (*)</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="gameVersionDropdown">
        <a *ngFor="let gameVersion of gameVersions" ngbDropdownItem [class.selected]="filter.gameVersion === gameVersion"
          routerLink="." [queryParams]="{gameVersion: filter.gameVersion === gameVersion ? null : gameVersion}" queryParamsHandling="merge">
          {{ gameVersion }}
        </a>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="tagsDropdown" ngbDropdownToggle>
        Tags
        <span class="text-muted" *ngIf="filter.tags?.length"> ({{ filter.tags?.length }})</span>
      </button>
      <div ngbDropdownMenu aria-labelledby="tagsDropdown">
        <a *ngFor="let tag of tags" ngbDropdownItem
           routerLink="." [queryParams]="{tags: filter.tags ? (filter.tags.includes(tag) ? filter.tags.splice(filter.tags.indexOf(tag), 1) : filter.tags.concat(tag)).join(',') : tag}" queryParamsHandling="merge"
        >
          {{ tag }}
        </a>
      </div>
    </div>
  </div>
  <div class="overflow-auto">
    <sm-empire-item *ngFor="let empire of empires" [empire]="empire"></sm-empire-item>
  </div>
</div>
