<div class="plain-bg p-3 d-flex flex-column" style="width: 640px; height: 90vh">
  <h4>Gallery</h4>
  <div class="d-flex">
    <input type="search" class="form-control dark-area-cut" placeholder="Search" [(ngModel)]="filter.text" (change)="updateTextQuery()">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="gameVersionDropdown" ngbDropdownToggle>
        Game Version
        @if (filter.gameVersion) {
          <span class="text-muted"> (*)</span>
        }
      </button>
      <div ngbDropdownMenu aria-labelledby="gameVersionDropdown">
        @for (gameVersion of gameVersions; track gameVersion) {
          <a ngbDropdownItem [class.selected]="filter.gameVersion === gameVersion"
             routerLink="." [queryParams]="{gameVersion: filter.gameVersion === gameVersion ? null : gameVersion}"
             queryParamsHandling="merge">
            {{ gameVersion }}
          </a>
        }
      </div>
    </div>
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="tagsDropdown" ngbDropdownToggle>
        Tags
        @if (filter.tags?.length) {
          <span class="text-muted"> ({{ filter.tags?.length }})</span>
        }
      </button>
      <div ngbDropdownMenu aria-labelledby="tagsDropdown">
        @for (tag of tags; track tag) {
          <a ngbDropdownItem
             routerLink="."
             [queryParams]="{tags: filter.tags ? (filter.tags.includes(tag) ? filter.tags.splice(filter.tags.indexOf(tag), 1) : filter.tags.concat(tag)).join(',') : tag}"
             queryParamsHandling="merge"
          >
            {{ tag }}
          </a>
        }
      </div>
    </div>
  </div>
  <div class="overflow-auto">
    @for (empire of empires; track empire) {
      <sm-empire-item [empire]="empire"></sm-empire-item>
    }
  </div>
</div>
